.login{
    border: 1px solid rgb(196, 196, 196);
    padding: 30px;
    border-radius: 10px;
    margin-top: 10%;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 10px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
    color: rgb(150, 150, 150);
}
.tareas{
    border: 1px solid rgb(196, 196, 196);
    padding: 30px;
    border-radius: 10px;    
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 10px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
    color: rgb(150, 150, 150);
}
.listado{
    margin-top: 0.80%;
    border: 1px solid rgb(196, 196, 196);
    padding: 30px;
    border-radius: 10px;    
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 10px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
    color: rgb(150, 150, 150);
}
.title{
    color: rgb(150, 150, 150);
    font-size: 18px;
}
.btn-l{
    margin-top: 15px;
    &:hover{
        background: #26a96d!important;
    }
}
.border{
    border:1px solid rgb(170, 170, 170)
}
.select select{
    width: 100%!important;
}
.select{
    width: 100%!important;
}
.ingreso-tareas{
    padding-top: 2%;
}
.lista{
    height: 400px;
    overflow-y: scroll;
}